@media print {
	@page {
  		width: 150mm;
  		height: 140mm;
  		margin: 5mm 0 5mm 0;
	}

  	body *{
  		visibility: hidden;
  	}
 
  	body{
  		width: 140mm;
  		padding: 0;
  		page-break-after: avoid;
        page-break-before: avoid;
  	}

  	#printarea_new, #printarea_new *{
  		visibility: visible;
 	}
 	#printarea_new{
 	 	position: absolute;
 	 	width: 140mm;
 	 	top: 0px;
 	 	left: -50px;
 	}
 	#receipt_new{
 		position: absolute;
 		top: 40mm;
		margin: 0px 0px 0px 0mm;
		background-color: #852;
		display: flex;
		border-radius: 10px;
		justify-content: center;
		flex-direction: column;
		width: 130mm;
	}
	#receipt_new table{
		position: fixed;
		margin: 0 0 0 10mm;
		background-color: #ff0;
		height: 70mm;
 		top: 75mm;
		width: 130mm;
	}
	#receipt-title{
		font-size: 20px;
		margin-top: -20px;
	}
	#receipt-number_new{
		margin: 0 0 0 45mm;
	}

	#receipt-name_new{
		margin: 0 0 0 45mm;
	}

	#receipt-star_new{
		margin: 0 0 0 45mm;
	}

	#receipt-date_new{
		margin: 0 0 0 50mm;
	}
}