@media print {
	@page {
  		width: 150mm;
  		height: 140mm;
  		margin: 5mm 0 0 0;
	}

  	body *{
  		visibility: hidden;
  	}
 
  	body{
  		width: 140mm;
  		padding: 0;
  		page-break-after: avoid;
        page-break-before: avoid;
  	}

  	#printarea, #printarea *{
  		visibility: visible;
 	}
 	#printarea{
 	 	position: absolute;
 	 	width: 140mm;
 	 	top: 0px;
 	 	left: -50px;
 	}
 	#div-temple-title-name{
 	 	display: flex;
 	 	justify-content: center;
 	 	width: 140mm;
 	 }
 	#temple-title-name{
	  	transform: scale(0.6);
	  	text-align: center;
	  	border-bottom:1px #000 solid;
	  	display: flex;
  	}
 	#receipt{
 		position: absolute;
 		top: 0;
		margin: 0px 10px 0px 10px;
		padding: 5px 10%;
		display: flex;
		border-radius: 10px;
		justify-content: center;
		flex-direction: column;
		width: 130mm;
	}
	#receipt table{
		width: 130mm;
	}
	#receipt-title{
		font-size: 20px;
		margin-top: -20px;
	}
}