{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
<section>
	<div id="report">
		<div>
			<form action="" method="POST">
				{% csrf_token %}
				<table>
					<tr>
						<td>Title</td>
						<td>{{form.title}}</td>
					</tr>
					<tr>
						<td>Amount</td>
						<td>{{form.amount}}</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="submit" value="Update Vazhipadu">			
						</td>
					</tr>
				</table>			
				
			</form>
		</div>

	</div>
</section>

{% endblock %}
