{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/print.css' %}" id="printCss" media="print">
<link rel="stylesheet" href="{% static 'css/print_new.css' %}" id="printCss" media="print">

 <style type="text/css">

#printarea, #printarea_new{
    visibility: hidden;
    }

#receipt span{
		font-size: 16px;
	}
	#receipt th{
		font-size: 16px;
		padding: 3px 20px;
	}
	#receipt td{
		padding: 3px 20px;
		font-size: 15px;
	}

</style>

<script type="text/javascript">

	$(document).keypress(function(){
    var x = event.keyCode;
    if (x == 13) {
    	$('#printarea').hide();
		$('#printarea_new').show();
        window.print();
    }
	});

	function printOnClicked(){
		$('#printarea').show();
		$('#printarea_new').hide();
		//document.getElementById('printarea').visibility=visible;
		//document.getElementById('printarea_new').visibility=hidden;
		window.print();
	}
	function printNewOnClicked(){
		$('#printarea').hide();
		$('#printarea_new').show();
		window.print();
	}
</script>
{% endblock %}

{% block body %}

<section>

<div id="receipt">
		<div id="receipt-title">
				<b><u>വഴിപാട് രസീത് </u></b>
		</div>
		<div>
			<div id="receipt-number">
			<span><b>രസീത് നംമ്പർ : </b></span>
			<span>{{receipt.id}}</span>
		</div>

		<div id="receipt-date">
			<span><b>തീയതി : </b></span>
			<span>{{receipt.date}}</span>
		</div>
		</div>

		<div id="receipt-name">
			<span><b>പേര് : </b></span>
			<span>{{receipt.name}}</span>
		</div>

		<div id="receipt-star">
			<span><b>നക്ഷത്രം :</b></span>
			<span>{{receipt.star}}</span>
		</div>

			<table border="1">
                          <thead>
                            <tr class="border">
                                <th>ക്രമ നമ്പര്‍</th>
                                <th>വഴിപാട് ഇനം</th>
                                <th>തുക</th>
                            </tr>
                          </thead>
                          {% for each in receipt_items %}
	
                          <tbody>
                           <tr>
								<td>{{forloop.counter}}</td>
								<td>{{each.vazhipadu}}</td>
								<td class="number">{{each.amount}}</td>
							</tr>
							{% endfor %}
                          </tbody>
				</table>
		<div  id="grand-total">
			<h2>ആകെ തുക: Rs {{receipt.total_amount}}	</h2>
		</div>
		<div id="user-designation">
			{{request.user}}
		</div>
		<div>
              <a href="../receipt/"><button>Add Another</button></a>
              <button onclick="printOnClicked();" name="button">Print</button>
              <button id="print_btn_new" onclick="printNewOnClicked();" name="button">Print New</button>
          </div>

</div>

<div id="printarea">
		<div id="receipt">
		<div id="div-temple-title-name">
			<img id="temple-title-name"  src="{% static '/img/temple_name_b.png' %}">
		</div>
		<div id="receipt-title">
				<b><u>വഴിപാട് രസീത് </u></b>
		</div>
		<div>
			<div id="receipt-number">
			<span><b>രസീത് നംമ്പർ : </b></span>
			<span>{{receipt.id}}</span>
		</div>

		<div id="receipt-date">
			<span><b>തീയതി : </b></span>
			<span>{{receipt.date}}</span>
		</div>
		</div>

		<div id="receipt-name">
			<span><b>പേര് : </b></span>
			<span>{{receipt.name}}</span>
		</div>

		<div id="receipt-star">
			<span><b>നക്ഷത്രം :</b></span>
			<span>{{receipt.star}}</span>
		</div>

			<table border="1">
                          <thead>
                            <tr class="border">
                                <th style="width: 5px;">ക്രമ നമ്പര്‍</th>
                                <th>വഴിപാട് ഇനം</th>
                                <th>തുക</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for each in receipt_items %}
                           <tr>
								<td style="width: 5px;">{{forloop.counter}}</td>
								<td>{{each.vazhipadu}}</td>
								<td class="number">{{each.amount}}</td>
							</tr>
							{% endfor %}

							<tr>
								<td colspan="1" style="border-left:none;border-top:none;border-right:none;border-bottom:none;"><div id="user-designation">
												{{request.user}}
												</div>
								</td>

								<td colspan="2" style="border-left:none;border-top:none;border-right:none;border-bottom:none;"><div  id="grand-total">
												<h2>ആകെ തുക: Rs {{receipt.total_amount}}	</h2>
												</div>
								</td>
							</tr>
                          </tbody>
				</table>
</div>	
</div>

<div id="printarea_new">
		<div id="receipt_new">
			<div>
				<span id="receipt-number_new">{{receipt.id}}</span>
				<span id="receipt-date_new">{{receipt.date}}</span>
			</div>

			<div>
				<span  id="receipt-name_new">{{receipt.name}}</span>
			</div>

			<div>
				<span  id="receipt-star_new">{{receipt.star}}</span>
			</div>

			<table border="0">
                          
                          <tbody>
                          {% for each in receipt_items %}
                           <tr>
								<td style="width: 10mm;">{{forloop.counter}}</td>
								<td style="width: 75mm;">{{each.vazhipadu}}</td>
								<td style="width: 25mm;" class="number">{{each.amount}}</td>
							</tr>
							{% endfor %}

							<tr>
								<td colspan="1" style="border-left:none;border-top:none;border-right:none;border-bottom:none;"><div id="user-designation">
												{{request.user}}
												</div>
								</td>

								<td colspan="2" style="border-left:none;border-top:none;border-right:none;border-bottom:none;"><div  id="grand-total">
												<h2>ആകെ തുക: Rs {{receipt.total_amount}}	</h2>
												</div>
								</td>
							</tr>
                          </tbody>
				</table>
</div>	
</div>

</section>
{% endblock %}